### Forecaster KPI Data Selector  - US Airline Industry

pip install ipywidgets ## need to run if widgets are not loaded on system

In [1]:
Region = "California"

## Import Packages

In [2]:
# General 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Visualisation
import ipywidgets as widgets # drop down boxes and dashboard
from ipywidgets import interact # as above
import plotly.express as px

## Load user defined functions for model

In [3]:
####################
# Widget functions #
####################


# define geneic function to select all values for dropdown boxes (widgets)
ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

SELECT = ''
def unique_sorted_values_plus_SELECT(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, SELECT)
    return unique

# create common filtering process (widgets)
def common_filtering(Airline, Category):
    output.clear_output()
    plot_output.clear_output()
    plot_output_flights.clear_output()
    plot_output_seats.clear_output()
    plot_output_ASM.clear_output()
    plot_output_RPM.clear_output()
    plot_output_LF.clear_output()
    
    if (Airline == SELECT) & (Category == SELECT):  # note:- changed this to select as there is no consoldiated forecast ATM
        common_filter = df
    elif (Airline == SELECT):
        common_filter = df[df.Category == "Dom"]
    elif (Category == SELECT):
        common_filter = df[df.Airline == Airline]
    else:
        common_filter = df[(df.Airline == Airline) & 
                                  (df.Category == Category)]
    with output:
        display(common_filter)
        
    with plot_output:
        fig = px.line(common_filter, x="Datestamp", y="PAX", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
          
        # Make a vertical highlight section
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()  
    
    with plot_output_flights:
        fig = px.line(common_filter, x="Datestamp", y="Flights", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()
    with plot_output_seats:
        fig = px.line(common_filter, x="Datestamp", y="SEATS", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()          
    with plot_output_ASM:
        fig = px.line(common_filter, x="Datestamp", y="ASM", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()   
        
    with plot_output_RPM:
        fig = px.line(common_filter, x="Datestamp", y="RPM", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()   
        
    with plot_output_LF:
        fig = px.line(common_filter, x="Datestamp", y="LF", color="Category")
        fig.update_layout(legend=dict(orientation="h",yanchor="top", y=0.99, xanchor="left", x=0.01))
        fig.add_vrect(x0="2020-03-01", x1="2021-11-08",             
              fillcolor="yellow", opacity=0.25, line_width=0)
        fig.show()   
    
# Amend event handlers to call the common filter   (widgets)     
def dropdown_Airline_eventhandler(change):
    common_filtering(change.new, dropdown_Category.value)
    
def dropdown_Category_eventhandler(change):
    common_filtering(dropdown_Airline.value, change.new)

## Import Data

In [4]:
# Import data per selected region

root = r'c:\\users\\user\\Documents\\JCU\\MA 5853 Data Science Project 1\\'
path = r'data\\Airport analysis\\'+Region+'\\'

fileap = r'ForecastData2.csv'   

fileo = r'ForecastDataSelected2.csv'

df = pd.read_csv(root+path+fileap)
df

,Dates,Airline,Category,YEAR,MONTH,Flights Scheduled,Flights,SEATS,PAX,ASM,RPM,LF
0,2012-01-01,AA,Dom,2012,1,2410.0,2387.0,401491.0,331186.0,699394135.0,587286198.0,83.970707
1,2012-01-01,AS,Dom,2012,1,435.0,431.0,65283.0,56736.0,66650136.0,57935555.0,86.924886
2,2012-01-01,B6,Dom,2012,1,209.0,209.0,31350.0,25861.0,77860200.0,64202912.0,82.459218
3,2012-01-01,DL,Dom,2012,1,1474.0,1493.0,280648.0,239083.0,539985161.0,464856133.0,86.086835
4,2012-01-01,NK,Dom,2012,1,0.0,163.0,23635.0,17463.0,21827285.0,17106696.0,78.372991
...,...,...,...,...,...,...,...,...,...,...,...,...
870,2022-05-01,B6,Dom,2022,5,992.0,990.0,158424.0,140069.0,324319297.0,295681706.0,91.169939
871,2022-05-01,DL,Dom,2022,5,2578.0,2513.0,461600.0,424292.0,816173765.0,755654411.0,92.584992
872,2022-05-01,NK,Dom,2022,5,896.0,896.0,164347.0,146018.0,248490322.0,224499956.0,90.345553
873,2022-05-01,UA,Dom,2022,5,2056.0,2031.0,385389.0,351465.0,676001844.0,621471905.0,91.933463
874,2022-05-01,WN,Dom,2022,5,2498.0,2483.0,407005.0,326953.0,341167539.0,292505359.0,85.736574

## Wrangle imported data

In [5]:
df['Dates'] = pd.to_datetime(df.YEAR.astype(str) + '-' + df.MONTH.astype(str))

df['Dates'] = pd.DatetimeIndex(df['Dates']) # make index out of ds

df['Datestamp'] = pd.to_datetime(df.YEAR.astype(str) + '-' + df.MONTH.astype(str))

df = df.set_index('Dates') # create index


df.head()

,Airline,Category,YEAR,MONTH,Flights Scheduled,Flights,SEATS,PAX,ASM,RPM,LF,Datestamp
Dates,,,,,,,,,,,,
2012-01-01,AA,Dom,2012,1,2410.0,2387.0,401491.0,331186.0,699394135.0,587286198.0,83.970707,2012-01-01
2012-01-01,AS,Dom,2012,1,435.0,431.0,65283.0,56736.0,66650136.0,57935555.0,86.924886,2012-01-01
2012-01-01,B6,Dom,2012,1,209.0,209.0,31350.0,25861.0,77860200.0,64202912.0,82.459218,2012-01-01
2012-01-01,DL,Dom,2012,1,1474.0,1493.0,280648.0,239083.0,539985161.0,464856133.0,86.086835,2012-01-01
2012-01-01,NK,Dom,2012,1,0.0,163.0,23635.0,17463.0,21827285.0,17106696.0,78.372991,2012-01-01

## Select Airline and Category for Analysis

In [6]:
# Widgets

# create common output for widgets
output = widgets.Output()
plot_output = widgets.Output()
plot_output_flights = widgets.Output()
plot_output_seats = widgets.Output()
plot_output_ASM = widgets.Output()
plot_output_RPM = widgets.Output()
plot_output_LF = widgets.Output()

# initialise dropdown
dropdown_Airline = widgets.Dropdown(options = unique_sorted_values_plus_SELECT(df.Airline), description='Airline Code:')
dropdown_Category = widgets.Dropdown(options = unique_sorted_values_plus_SELECT(df.Category), description='Category:')

# dropdown boxes actions
dropdown_Airline.observe(dropdown_Airline_eventhandler, names='value')    
dropdown_Category.observe(dropdown_Category_eventhandler, names='value')  

# Layout for dropdown boxes
item_layout = widgets.Layout(margin='0 0 50px 0')

# Alignment and display settings for dropdown boxes
input_widgets = widgets.HBox([dropdown_Airline, dropdown_Category], layout=item_layout)

# dashboard drivers
tab = widgets.Tab([output, plot_output, plot_output_flights, plot_output_seats,  plot_output_ASM, plot_output_RPM, plot_output_LF], layout=item_layout)
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'Passangers')
tab.set_title(2, 'Flights')
tab.set_title(3, 'Seats')
tab.set_title(4, 'ASM')
tab.set_title(5, 'RPM')
tab.set_title(6, 'Load Factor')

## Key Performance Indicators Dashboard

In [7]:
dashboard = widgets.VBox([input_widgets, tab])
display(dashboard)

VBox(children=(HBox(children=(Dropdown(description='Airline Code:', options=('', 'AA', 'AS', 'B6', 'DL', 'NK',…

## Choose KPI to forecast

In [8]:
columns_select = widgets.Select(
    options=df.columns[5:-1],
    rows=10,
    description='Visible:',
    disabled=False
)
display(columns_select)

Select(description='Visible:', options=('Flights', 'SEATS', 'PAX', 'ASM', 'RPM', 'LF'), rows=10, value='Flight…

### Data Wrangling to prepare selected data for forecasting per KPI

In [93]:
# retrieve the data from the KPI dashboard - note the dashboard is a stage not hard dataframes
df = df[(df['YEAR'] > 2016)]

df2 = df[(df['Airline']==dropdown_Airline.value) &(df['Category']==dropdown_Category.value)] # dataset of kpi display
dfv = columns_select.value # retrieve the value selected to forecast

# create base dataframe to use for forecasting
df1 = df2["Datestamp"]  # datestamp for graphs
df3 = df2[columns_select.value] # select the column of data chosen to forecast
df2 = df2.iloc[:,0:4] # id, dates, airline, category from kpi dataset

df4 = pd.merge(df2,df1, how="inner",on="Dates") # join descriptive columns to datestamp
df4 = pd.merge(df4,df3, how="inner",on="Dates") # join previously joined table to the "value" column


df2 = df4 # rebuild df2 (forecasting dataset)


title2 = df2['Category'].iloc[0]+" "+columns_select.value+" "+df2['Airline'].iloc[0] # create defualt title for graphs
title2 # display the default display

'Dom LF WN'

### Export files for Power BI

In [94]:
df2.to_csv(root+path+fileo)